# Node modules
node_modules/
/**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# build
/frontend/build
/backend/dist

# IDE
.vscode/
/.idea/
